<!DOCTYPE html>
<html>
<head>
  <title> Evil Icons Sinatra</title>
  <link href='/assets/application.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <%=evil_icons_sprite %>
  <%= evil_icon 'ei-search' %>
  <%= evil_icon 'ei-arrow-right', size: :m %>
  <%= evil_icon 'ei-envelope', size: :l, class: "custom-class" %>
</body>
</html>
